<div class="container">
  <div style="display: flex;align-items: center;justify-content: space-between;">
    <h3>5E Model Constructivist Approach</h3>
    <button mat-raised-button (click)="back()" color="primary">Back</button>
  </div>
  <br>
  <mat-accordion class="example-headers-align">
    <form [formGroup]="addForm" (submit)="addFormSubmit()">
      <mat-card>
        <mat-card-title>
          Basic details
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Name of school</mat-label>
              <input type="text" formControlName="school" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Class</mat-label>
              <mat-select formControlName="classNumber">
                <mat-option value="1">I</mat-option>
                <mat-option value="2">II</mat-option>
                <mat-option value="3">III</mat-option>
                <mat-option value="4">IV</mat-option>
                <mat-option value="5">V</mat-option>
                <mat-option value="6">VI</mat-option>
                <mat-option value="7">VII</mat-option>
                <mat-option value="8">VII</mat-option>
                <mat-option value="9">IX</mat-option>
                <mat-option value="10">X</mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Subject</mat-label>
              <input type="text" formControlName="subject" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Book name</mat-label>
              <input type="text" formControlName="book" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Topic</mat-label>
              <input type="text" formControlName="topic" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Duration</mat-label>
              <input type="text" formControlName="duration" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Concept Mapping
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <!-- <mat-form-field appearance="outline">
              <mat-label>Picture</mat-label>
              <input type="text" matInput required>
            </mat-form-field> -->
            <input type="file" (change)="fileUpload($event)" required class="file_upload">
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          Objectives
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>General objective</mat-label>
              <textarea type="text" matInput formControlName="general_objective" required></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Approach</mat-label>
              <input type="text" formControlName="approach" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Method</mat-label>
              <input type="text" formControlName="method" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>TLM/ICT tool</mat-label>
              <input type="text" formControlName="tlm_ict_tool" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card formGroupName="engage">
        <mat-card-title>
          Step: Engage
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Teacher's Activity</mat-label>
              <input type="text" formControlName="teaching_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Student Activity</mat-label>
              <input type="text" formControlName="student_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>TLM/ICT tool</mat-label>
              <input type="text" formControlName="tml_ict" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card formGroupName="explore">
        <mat-card-title>
          Step: Explore
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Teacher's Activity</mat-label>
              <input type="text" formControlName="teaching_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Student Activity</mat-label>
              <input type="text" formControlName="student_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>TLM/ICT tool</mat-label>
              <input type="text" formControlName="tml_ict" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card formGroupName="explain">
        <mat-card-title>
          Step: Explain
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Teacher's Activity</mat-label>
              <input type="text" formControlName="teaching_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Student Activity</mat-label>
              <input type="text" formControlName="student_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>TLM/ICT tool</mat-label>
              <input type="text" formControlName="tml_ict" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card formGroupName="elaborate">
        <mat-card-title>
          Step: Elaborate
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Teacher's Activity</mat-label>
              <input type="text" formControlName="teaching_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Student Activity</mat-label>
              <input type="text" formControlName="student_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>TLM/ICT tool</mat-label>
              <input type="text" formControlName="tml_ict" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card formGroupName="evaluate">
        <mat-card-title>
          Step: Evaluate
        </mat-card-title>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Teacher's Activity</mat-label>
              <input type="text" formControlName="teaching_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Student Activity</mat-label>
              <input type="text" formControlName="student_activity" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>TLM/ICT tool</mat-label>
              <input type="text" formControlName="tml_ict" matInput required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Home Assignments</mat-label>
              <input type="text" formControlName="home_assignments" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Reflection</mat-label>
              <input type="text" formControlName="reflection" matInput>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="btns">
        <button mat-stroked-button type="reset" color="primary">reset</button>
        <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
    </form>
  </mat-accordion>
</div>
