<div class="container">
  <button mat-raised-button color="primary" (click)="back()">Back</button>
  <div *ngIf="loading;else content;">
    <app-loading [height]="'76vh'" [diameter]="50"></app-loading>
  </div>


  <mat-accordion>
    <ng-template #content>
      <div style="margin: 1rem 0;text-align: center;">
        <h2>Behaviorist Approach Lesson Plan</h2>
      </div>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Behaviorist Approach
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex gap flex_direction_column">
          <mat-card>
            <mat-card-content class="info">
              <div class="info_left">
                <div class="flex align_center gap">
                  <p>Name of the School:</p>
                  <p>{{data.school}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Class:</p>
                  <p>{{data.classNumber}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Duration:</p>
                  <p>{{data.duration}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Date:</p>
                  <p>{{dateFormat(data.createdAt,'ll')}}</p>
                </div>
              </div>
              <div class="info_right">
                <div class="flex align_center gap">
                  <p>Name of the Teacher:</p>
                  <p>{{data.created_by.profile.name}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Subject:</p>
                  <p>{{data.subject}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Topic:</p>
                  <p>{{data.topic}}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                General Objective
              </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngFor="let general_objective of data.general_objective;let i= index;">
              <p>{{i + 1}}&nbsp;&nbsp;{{general_objective}}</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Learning Objective
              </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngFor="let learning_objective of data.learning_objective;let i= index;">
              <p>{{i + 1}}&nbsp;&nbsp;{{learning_objective}}</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Pre-reading
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{data.pre_reading}}
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Testing previous Knowledge
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table class="table_info">
                <tr>
                  <th>
                    Teacher's Activity
                  </th>
                  <th>
                    Expected Student Activity
                  </th>
                </tr>
                <tr>
                  <td>
                    {{data.testing_previous.expected_student_activity}}
                  </td>
                  <td>
                    {{data.testing_previous.teacher_activity}}
                  </td>
                </tr>

              </table>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Presentation
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table class="table_info">
                <tr>
                  <th>
                    Teaching point
                  </th>
                  <th>
                    Teacher's Activity
                  </th>
                  <th>
                    Student's Activity
                  </th>
                  <th>
                    Learner's Outcome
                  </th>
                </tr>
                <tr>
                  <th>
                    Aloud Reading
                  </th>
                  <td>
                    {{data.aloud_reading.teacher_activity}}
                  </td>
                  <td>
                    {{data.aloud_reading.student_activity}}
                  </td>
                  <td>
                    {{data.aloud_reading.learner_outcome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Silent Reading
                  </th>
                  <td>
                    {{data.silent_reading.teacher_activity}}
                  </td>
                  <td>
                    {{data.silent_reading.student_activity}}
                  </td>
                  <td>
                    {{data.silent_reading.learner_outcome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Word Exposition
                  </th>
                  <td>
                    {{data.word_exposition.teacher_activity}}
                  </td>
                  <td>
                    {{data.word_exposition.student_activity}}
                  </td>
                  <td>
                    {{data.word_exposition.learner_outcome}}
                  </td>
                </tr>

              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lesson Plan Assessment
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="data.assessment_status;else assessment_status_info">
          <mat-card>
            <mat-card-content>
              <table style="width: 100%;">
                <tr>
                  <th>Application</th>
                  <th style="text-align:center">
                    Indicators of Lesson Plan
                  </th>
                  <td>
                    <h3 style="display: flex;align-items: center;justify-content: center;">Score/Remarks</h3>
                  </td>
                </tr>
                <ng-container *ngFor="let assessment of assessmentData | keyvalue">
                  <tr>
                    <th colspan="3">
                      Skill: {{assessment.key}}
                    </th>
                  </tr>
                  <ng-container *ngFor="let assessment_type of assessment.value">
                    <tr>
                      <td>
                        {{assessment_type.skill_type}}
                      </td>
                      <td>
                        {{assessment_type.remark_description}}
                      </td>
                      <td>
                        {{assessment_type.remark}}
                      </td>
                    </tr>
                  </ng-container>

                </ng-container>
                <tr>
                  <th colspan="2"><i>Total Score/Remarks</i></th>
                  <th>{{totalScore}}</th>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
      <ng-template #assessment_status_info>
        <form class="assessment_form_group"  *ngIf="user.role === 1 || this.user.role ===2" [formGroup]="assessmentForm" (ngSubmit)="onSubmitNewAssessment()">
          <div *ngFor="let item of commonApi.assessmentFormDataValue;let i = index;" class="assessment_form"
            formGroupName={{item.key}}>
            <mat-card>
              <mat-card-header>
                <mat-card-title style="display: flex;gap:0.5rem;align-items: center;color: #2baffc;">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="hotel_class"></mat-icon>
                  {{item.key}}
                </mat-card-title>
              </mat-card-header>
            </mat-card>
            <div *ngFor="let v of item.value;let j = index;" style="margin: 1rem 0 0 0 ;">
              <mat-card>
                <mat-card-content>
                  <div id="example-radio-group-label">
                    {{v.skill_type}}{{(i+1)+'.'+(j+1)}}</div>
                  <mat-radio-group class="radio_btn_options" [formControlName]="(i+1)+'.'+(j+1)">
                    <mat-radio-button class="example-radio-button" *ngFor="let option of v.selectOption"
                      [value]="option.remark">
                      {{option.remark_description}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div style="display: flex; width: 100%;gap: 1rem;justify-content: end;">
            <button mat-stroked-button color="primary">Reset</button>
            <button mat-raised-button color="primary" disabled="{{loading}}" type="submit">Submit</button>
          </div>
        </form>
      </ng-template>
    </ng-template>
  </mat-accordion>
</div>
