<div class="container">
  <button mat-raised-button color="primary" (click)="back()">Back</button>
  <div *ngIf="loading;else content;">
    <app-loading [height]="'76vh'" [diameter]="50"></app-loading>
  </div>
  <mat-accordion>
    <ng-template #content>
      <div style="margin: 1rem 0;text-align: center;">
        <h2>5E Model Constructivist Approach English Lesson Plan</h2>
      </div>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            5E Model Constructivist Approach
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex gap flex_direction_column">
          <mat-card>
            <mat-card-content class="info">
              <div class="info_left">
                <div class="flex align_center gap">
                  <p>Name of the School:</p>
                  <p>{{data.school}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Class:</p>
                  <p>{{data.classNumber}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Duration:</p>
                  <p>{{data.duration}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Date:</p>
                  <p>{{dateFormat(data.createdAt,'ll')}}</p>
                </div>
              </div>
              <div class="info_right">
                <div class="flex align_center gap">
                  <p>Name of the Teacher:</p>
                  <p>{{data.created_by.profile.name}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Subject:</p>
                  <p>{{data.subject}}</p>
                </div>
                <div class="flex align_center gap">
                  <p>Topic:</p>
                  <p>{{data.topic}}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Concept Mapping
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-card-image src={{data.concept_mapping}} alt="Concept mapping" style="max-width: 41vw;">
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Concept Mapping
              </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngFor="let objective of data.general_objective;">
              <p>{{objective}}</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Approach
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{data.approach}}</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Method
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{data.method}}</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                TLM/ICT tool
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{data.tlm_ict_tool}}</p>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <table class="table_info">
                <tr>
                  <th>
                    Time
                  </th>
                  <th>
                    Steps
                  </th>
                  <th>
                    Teacher Activity
                  </th>
                  <th>
                    Student Activity
                  </th>
                  <th>
                    TLM?ICT tool
                  </th>
                </tr>
                <tr>
                  <td rowspan="5" style="min-width: 5rem;">
                    {{data.duration}}
                  </td>
                  <td>
                    Engage
                  </td>
                  <td>
                    {{data.engage.teaching_activity}}
                  </td>
                  <td>
                    {{data.engage.student_activity}}
                  </td>
                  <td>
                    {{data.engage.tml_ict}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Explore
                  </td>
                  <td>
                    {{data.explore.teaching_activity}}
                  </td>
                  <td>
                    {{data.explore.student_activity}}
                  </td>
                  <td>
                    {{data.explore.tml_ict}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Explain
                  </td>
                  <td>
                    {{data.explain.teaching_activity}}
                  </td>
                  <td>
                    {{data.explain.student_activity}}
                  </td>
                  <td>
                    {{data.explain.tml_ict}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Elaborate
                  </td>
                  <td>
                    {{data.elaborate.teaching_activity}}
                  </td>
                  <td>
                    {{data.elaborate.student_activity}}
                  </td>
                  <td>
                    {{data.elaborate.tml_ict}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Evaluate
                  </td>
                  <td>
                    {{data.evaluate.teaching_activity}}
                  </td>
                  <td>
                    {{data.evaluate.student_activity}}
                  </td>
                  <td>
                    {{data.evaluate.tml_ict}}
                  </td>
                </tr>



              </table>
            </mat-card-content>
          </mat-card>


          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Home Assignments
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{data.home_assignments}}</p>
            </mat-card-content>
          </mat-card> <mat-card>
            <mat-card-header>
              <mat-card-title>
                Reflection
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{data.reflection}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lesson Plan Assessment
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="data.assessment_status;else assessment_status_info">
          <mat-card>
            <mat-card-content>
              <table style="width: 100%;">
                <tr>
                  <th>Application</th>
                  <th style="text-align:center">
                    Indicators of Lesson Plan
                  </th>
                  <td>
                    <h3 style="display: flex;align-items: center;justify-content: center;">Score/Remarks</h3>
                  </td>
                </tr>
                <ng-container *ngFor="let assessment of assessmentData | keyvalue">
                  <tr>
                    <th colspan="3">
                      Skill: {{assessment.key}}
                    </th>
                  </tr>
                  <ng-container *ngFor="let assessment_type of assessment.value">
                    <tr>
                      <td>
                        {{assessment_type.skill_type}}
                      </td>
                      <td>
                        {{assessment_type.remark_description}}
                      </td>
                      <td>
                        {{assessment_type.remark}}
                      </td>
                    </tr>
                  </ng-container>

                </ng-container>
                <tr>
                  <th colspan="2"><i>Total Score/Remarks</i></th>
                  <th>{{totalScore}}</th>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
      <ng-template #assessment_status_info>
        <form class="assessment_form_group" *ngIf="user.role ===1 || user.role ===2" [formGroup]="assessmentForm" (ngSubmit)="onSubmitNewAssessment()">
          <div *ngFor="let item of commonApi.assessmentFormDataValue;let i = index;" class="assessment_form"
            formGroupName={{item.key}}>
            <mat-card>
              <mat-card-header>
                <mat-card-title style="display: flex;gap:0.5rem;align-items: center;color: #2baffc;">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="hotel_class"></mat-icon>
                  {{item.key}}
                </mat-card-title>
              </mat-card-header>
            </mat-card>
            <div *ngFor="let v of item.value;let j = index;" style="margin: 1rem 0 0 0 ;">
              <mat-card>
                <mat-card-content>
                  <div id="example-radio-group-label">
                    {{v.skill_type}}{{(i+1)+'.'+(j+1)}}</div>
                  <mat-radio-group class="radio_btn_options" [formControlName]="(i+1)+'.'+(j+1)">
                    <mat-radio-button class="example-radio-button" *ngFor="let option of v.selectOption"
                      [value]="option.remark">
                      {{option.remark_description}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div style="display: flex; width: 100%;gap: 1rem;justify-content: end;">
            <button mat-stroked-button color="primary">Reset</button>
            <button mat-raised-button color="primary" disabled="{{loading}}" type="submit">Submit</button>
          </div>
        </form>
      </ng-template>
    </ng-template>
  </mat-accordion>
</div>
