<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      5E Model Constructivist Approach
    </ng-template>
    <app-model-constructivist>
    </app-model-constructivist>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Behaviorist Approach
    </ng-template>
    <app-behaviorist>
    </app-behaviorist>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Experiential Learning Approach
    </ng-template>
    <app-experiential>

    </app-experiential>
  </mat-tab>
</mat-tab-group>
