.profile {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;

  .mat-mdc-card-content {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;

    .profile_data {
      img {
        border-radius: 15rem;
        margin-bottom: 0.5rem;
        max-width: 15rem;
      }
    }

    .profile_data_info {
      display: flex;
      gap: 1rem;
    }

    .info, .info_data {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
