<div class="lesson_plan">
  <div *ngIf="loading;else content;">
    <app-loading [height]="'80vh'" [diameter]="50"></app-loading>
  </div>
  <ng-template #content>
    <div class="flex justify_end gap" style="margin-bottom: 1rem;" *ngIf="user.role === 1 || user.role ===2">
      <button mat-raised-button color="primary" (click)="dialogOpenClosed()">ADD NEW LESSON PLAN</button>
    </div>


    <table mat-table [dataSource]="data.data" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type </th>
        <td mat-cell *matCellDef="let element"> {{element.resource_type}} </td>
      </ng-container>

      <ng-container matColumnDef="created_date">
        <th mat-header-cell *matHeaderCellDef>Created date </th>
        <td mat-cell *matCellDef="let element"> {{dateFormat(element.createdAt,'ll')}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap align_center" *ngIf="user.role === 1 || user.role === 2">
            <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon='delete'></mat-icon></button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="data.total_count.length > 0" [pageSize]="limit" (page)="paginatorFn($event)"
      [length]="data.total_count[0].count"
      [pageIndex]="page -1"
      >
    </mat-paginator>


  </ng-template>

</div>



<div *ngIf="isOpenDialog" class="dialog_container" (click)="dialogOpenClosed()">
  <div class="dialog_box" (click)="blockDialogBoxClosed($event)">
    <div class="flex_custom flex_aline_center_custom flex_justify_content_between_custom">
      <h3>Add new lesson plan</h3>
      <mat-icon fontIcon="x" (click)="dialogOpenClosed()" style="cursor: pointer;"></mat-icon>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="newLessonPlanAdd" (ngSubmit)="newLessonPlanAddSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" required="true">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Lesson plan url
        </mat-label>
        <input type="text" matInput formControlName="resource">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lesson type</mat-label>
        <mat-select formControlName="resource_type">
          <mat-option value="video">Video link</mat-option>
          <mat-option value="pdf">Pdf link</mat-option>
          <mat-option value="youtube">Youtube link</mat-option>
          <mat-option value="link">Link</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Description
        </mat-label>
        <input type="text" matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Expiry Date
        </mat-label>
        <input type="date" matInput formControlName="expiry_date">
      </mat-form-field>
      <div>
      </div>

      <button mat-stroked-button type="reset" color="primary">Reset</button>
      <button disabled={{addIsLoading}} mat-raised-button type="submit" color="warn">
        <div *ngIf="addIsLoading">
          <mat-spinner [diameter]="28"></mat-spinner>
        </div>
        <div *ngIf="!addIsLoading">Submit</div>
      </button>
      <!-- </div> -->

      <!-- error  -->
      <mat-error *ngIf="addError" style="max-width: 23rem;">
        {{addError}}
      </mat-error>
    </form>
  </div>
</div>
