






// dialog container
.dialog_box{
  background-color: white;
  padding: 1rem;
  border-radius: 0.23rem;
  min-width: 23rem;
  .mat-divider{
    margin: 1rem 0;
  }
  form{
    display: grid;
    // flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    .mat-form-field{
      width: 100%;
    }
  }
}
