<div class="user_container">
  <div *ngIf="loading;else content;">
    <app-loading [height]="'80vh'" [diameter]="50"></app-loading>
  </div>
  <ng-template #content>
    <div class="flex justify_end gap" style="margin-bottom: 1rem;">
      <button mat-raised-button color="primary" (click)="dialogOpenClosed()">ADD NEW USER</button>
    </div>

    <table mat-table [dataSource]="data.data" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.profile.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="contact_number">
        <th mat-header-cell *matHeaderCellDef>Contact number </th>
        <td mat-cell *matCellDef="let element"> {{element.profile.contact_number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element"> {{element.profile?.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="created_date">
        <th mat-header-cell *matHeaderCellDef>Created date </th>
        <td mat-cell *matCellDef="let element"> {{dateFormat(element.createdAt,'ll')}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap align_center">

            <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon='delete'></mat-icon></button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="data.total_count.length > 0" [pageSize]="limit" (page)="paginatorFn($event)"
      [length]="data.total_count[0].count" [pageIndex]="page -1">
    </mat-paginator>

  </ng-template>
</div>




<div *ngIf="isOpenDialog" class="dialog_container" (click)="dialogOpenClosed()">
  <div class="dialog_box" (click)="blockDialogBoxClosed($event)">
    <div class="flex_custom flex_aline_center_custom flex_justify_content_between_custom">
      <h3>Add new user</h3>
      <mat-icon fontIcon="x" (click)="dialogOpenClosed()" style="cursor: pointer;"></mat-icon>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="newUserAdd" (ngSubmit)="createNewUser()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. example@example.com" formControlName="email" required="true">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Contact Number
        </mat-label>
        <input type="text" matInput placeholder="Ex. 9999999999" formControlName="contact_number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="1">Super Admin</mat-option>
          <mat-option value="2">Admin</mat-option>
          <mat-option value="3">Teacher</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <p style="margin:0.5rem 0">Profile Details</p> -->

      <mat-form-field appearance="outline">
        <mat-label>
          Name
        </mat-label>
        <input type="text" matInput placeholder="Ex. Jhon" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Location
        </mat-label>
        <input type="text" matInput placeholder="Ex. Jharkhand" formControlName="location">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Website
        </mat-label>
        <input type="text" matInput placeholder="Ex. website.com" formControlName="website">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          Age
        </mat-label>
        <input type="number" matInput placeholder="Ex. 28" formControlName="age">
      </mat-form-field>

      <!-- <div class="flex_custom flex_aline_center_custom flex_gap_custom"> -->
      <button mat-stroked-button type="reset" color="primary">Reset</button>
      <button disabled={{addIsLoading}} mat-raised-button type="submit" color="warn">
        <div *ngIf="addIsLoading">
          <mat-spinner [diameter]="28"></mat-spinner>
        </div>
        <div *ngIf="!addIsLoading">Submit</div>
      </button>
      <!-- </div> -->

      <!-- error  -->
      <mat-error *ngIf="addError" style="max-width: 23rem;">
        {{addError}}
      </mat-error>
    </form>
  </div>
</div>
