<div class="login_container">
  <div style="text-align: center;">
    <img src="../../../assets/images/logo tp.svg" alt="logo"
      style="width: 10rem;margin-bottom: 1rem; text-align: center;">

      <h1>Welcome back</h1>
      <br>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <!-- <mat-card-subtitle>Welcome back</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="pat@example.com" required formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="pat@example.com" required formControlName="password">
          </mat-form-field>
          <div class="submit_btns">
            <button mat-stroked-button type="reset" color="primary">Reset</button>
            <button mat-raised-button type="submit" disabled={{loading}} color="primary" class="flex align gap">
              <div *ngIf="loading">
                <app-loading [diameter]="20" color="warn"></app-loading>
              </div>
              <div *ngIf="!loading">
                <p>Login</p>
              </div>
            </button>
          </div>
          <div style="margin-top: 0.5rem;">
            <mat-error *ngIf="error">{{error}}</mat-error>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
